

.d-none {
    display:none;
}
.col {
  width:25%;
  padding:10px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
   display: block;
  margin-bottom: 10px;
}
.myForm, table {
  margin-bottom: 20px;
  padding:20px;
  margin:20px;
}
.myForm button {
  margin: 10px;
}

table tr{
  text-align: center;
}

table tr:first-child th {

  border-bottom: 2px solid black;
}
